{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('css/LogReg.css') }}" rel="stylesheet">

{% endblock %}
{% block body %}
    <body>
    <div class="container">
        <form action="" method="POST" class="login-email">
            <p class="login-text" style="font-size: 2rem; font-weight: 800;">Sign Up</p>
            {{ form_start(form) }}
            <div class="input-group">
                {{ form_row(form.fullName)}}
            </div>
            <div class="input-group">
                {{ form_row(form.email)}}
            </div>
            <div class="input-group">
                {{ form_row(form.password.first)}}
            </div>
            <div class="input-group">
                {{ form_row(form.password.second)}}
            </div>
            <div class="input-group">
                <button name="submit" class="btn">Sign Up</button>
            </div>
            <p class="login-register-text">Have an account? <a href="{{ path('app_login') }}">Sign In</a>.</p>
            {{ form_end(form) }}
        </form>
    </div>
    </body>
{% endblock %}