{% extends 'base.html.twig' %}

{% block title %}Create Product{% endblock %}

{% block body %}
    <body>
    <div class="container">


        {{ form_start(form) }}
        <p class="login-text" style="font-size: 2rem; font-weight: 800;">Create Product</p>
            <div class="input-group">
                <input placeholder="Product Name" {{ form_widget(form.name)}}
            </div>
            <div class="input-group">
                  {{ form_widget(form.category)}}
            </div>
            <div class="input-group">
                <input placeholder="Price" {{ form_widget(form.price)}}
            </div>
            <div class="input-group">
                <input placeholder="Description" {{ form_widget(form.description)}}
            </div>
            <div class="input-group">
                    {{ form_widget(form.productImage)}}
            </div>

            <div class="input-group">
                <input type="submit" class="btn" value="Create">
            </div>
        {{ form_end(form) }}


    </div>
    </body>
{% endblock %}


