{% extends 'base.html.twig' %}

{% block title %}Create Product{% endblock %}

{% block body %}
    <body>
    <div class="container">
        <form action="" method="POST" class="login-email">
            <p class="login-text" style="font-size: 2rem; font-weight: 800;">Create Product</p>
            {{ form_start(form) }}
            <div class="input-group">
                <input placeholder="Product Name" {{ form_widget(form.name)}}
            </div>
            <div class="input-group">
                  {{ form_widget(form.category)}}
            </div>
            <div class="input-group">
                <input placeholder="Price" {{ form_widget(form.price)}}
            </div>
            <div class="input-group">
                <input placeholder="Description" {{ form_widget(form.description)}}
            </div>
            <div class="input-group">
                    {{ form_widget(form.productImage)}}
            </div>
            <div class="input-group">
                <button name="submit" class="btn">Create</button>
            </div>
            {{ form_end(form) }}
        </form>
    </div>
    </body>
{% endblock %}


