{% extends 'base.html.twig' %}

{% block title %}Administrator{% endblock %}

{% block body %}
    <div class="Admin-area">
        <div class="Admin">
            {% if app.user %}
                Good Morning {{ app.user.fullName }}, <button><a href="{{ path('app_logout') }}" class="AdminOption">Logout</a></button>
            {% endif %}
        </div>
        <div class="option">
            <button class="showUsers"><a href="{{ path('admin_user') }}" class="AdminOption">Show users</a></button>
            <button class="showProducts"><a href="{{ path('admin_product') }}" class="AdminOption">Show products</a></button>
            <button class="showCategories"><a href="{{ path('admin_category') }}" class="AdminOption">Show categories</a></button>
        </div>
    </div>

{% endblock %}
