{% extends 'base.html.twig' %}
{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="userList">
        List Order
    </div>
    <table class="content-table">
        <thead>
        <tr>
            <th>Id</th>
            <th>User Id</th>
            <th>Product Id</th>
            <th>Vendor Id</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Option</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.user.id}}</td>
                <td>{{ order.product.id}}</td>
                <td>{{ order.vendor.id}}</td>
                <td>{{ order.amount}}</td>
                <td>{{ order.orderDate|date('F j,Y, g:i a') }}</td>
                <td>
                    <button type="button" class="btn-delete"><a href="{{ path('delete_order',{'id': order.id}) }}">Delete</a></button>
                </td>
            </tr>
        {% endfor %}
        <td><button type="button" class=" btn-back"><a href="{{ path('admin_option') }}">Back</a></button></td>
        </tbody>
    </table>

{% endblock %}