{% extends 'base.html.twig' %}


{% block body %}

    <div class="userList">
        List User
    </div>
    <table class="content-table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Full Name</th>
            <th>Option</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.fullName }}</td>
            <td>{{ user.email}}</td>
            <td>
                <button type="button" class="btn-view"><a href="{{ path('admin_user') }}">View</a></button>
                <button type="button" class="btn-edit"><a href="{{ path('edit_user',{'id': user.id}) }}">Edit</a></button>
                <button type="button" class="btn-delete"><a href="{{ path('delete_user',{'id': user.id}) }}">Delete</a></button>
            </td>
        </tr>

        {% endfor %}
            <td><button type="button" class=" btn-create"><a href="{{ path('admin_create_user') }}">Create user</a></button></td>
            <td><button type="button" class=" btn-back"><a href="{{ path('admin_option') }}">Back</a></button></td>
        </tbody>
    </table>

{% endblock %}

