{% extends 'base.html.twig' %}
{% block stylesheets %}
{% endblock %}
{% block title %}List Category{% endblock %}
{% block body %}
    <div class="userList">
        List Category
    </div>
    <table class="content-table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Option</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <button type="button" class="btn-view"><a href="{{ path('admin_category') }}">View</a></button>
                    <button type="button" class="btn-edit"><a href="{{ path('edit_category',{'id': category.id}) }}">Edit</a></button>
                    <button type="button" class="btn-delete"><a href="{{ path('delete_category',{'id': category.id}) }}">Delete</a></button>
                </td>
            </tr>
        {% endfor %}
        <td><button type="button" class=" btn-create"><a href="{{ path('create_category') }}">Create Category</a></button></td>
        <td><button type="button" class=" btn-back"><a href="{{ path('admin_option') }}">Back</a></button></td>
        </tbody>
    </table>

{% endblock %}