{% extends 'base.html.twig' %}
{% block stylesheets %}
{% endblock %}
{% block title %}List Product{% endblock %}
{% block body %}

    <div class="userList">
        List Product
    </div>
    <table class="content-table">
        <thead>
        <tr>
            <th>Product id</th>
            <th>Product Name</th>
            <th>Product Category</th>
            <th>Product Price</th>
            <th>Option</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.category}}</td>
                <td>{{ product.price}}</td>
                <td>
                    <button type="button" class="btn-view"><a href="{{ path('admin_product') }}">View</a></button>
                    <button type="button" class="btn-edit"><a href="{{ path('edit_product',{'id': product.id}) }}">Edit</a></button>
                    <button type="button" class="btn-delete"><a href="{{ path('delete_product',{'id': product.id}) }}">Delete</a></button>
                </td>
            </tr>

        {% endfor %}
        <td><button type="button" class=" btn-create"><a href="{{ path('create_product') }}">Create Product</a></button></td>
        <td><button type="button" class=" btn-back"><a href="{{ path('admin_option') }}">Back</a></button></td>
        </tbody>
    </table>

{% endblock %}

