{% extends 'base.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="{{ asset('css/EditProfile.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}

    <div class="container">
        <div class="leftbox"></div>
        <div class="rightbox">
            <div class="input-group">
                <h1>Update User Profile</h1>
                {{ form_start(form) }}
                <h2>Username</h2>
                {{ form_widget(form.fullName)}}
                <h2>Email</h2>
                {{ form_widget(form.email)}}
            </div>
            <button name="submit" class="btn">Save</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}