{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{#Link Css#}
{% block stylesheets %}
    <link href="{{ asset('css/Profile.css') }}" rel="stylesheet">
{% endblock %}

{#Body#}
{% block body %}
    <div class="container">
        <div class="leftbox">
            <nav>
                <a href="">
                    <i class='bx bxs-user-pin'></i>
                </a>
                <a href="">
                    <i class='bx bxs-credit-card'></i>
                </a>
                <a href="">
                    {#Nut Delete#}
                    <i class='bx bx-x-circle'></i>
                </a>
                <a href="{{ path('edit_profile', {'id': app.user.id})  }}">
                    {# Nut Edit#}
                    <i class='bx bxs-edit-alt'></i>
                </a>
                <a href="{{ path('app_logout') }}">
                    <i class='bx bxs-log-out-circle' ></i>
                </a>
            </nav>
        </div>
        <div class="rightbox">
            <div class="profile tabShow">
                <h1>User Profile</h1>
                <h2>Username</h2>
                <p>{{ app.user.fullName }}</p>
                <h2>Email</h2>
                <p>{{ app.user.email }}</p>
            </div>
        </div>
    </div>
{% endblock %}
